@import url(style.css);

main {
  font-size: 0.515rem;
  padding-bottom: 0;
}

header {
  min-width: 140px;
  width: 140px;
}

.info {
  font-size: 0.625rem;
}
.overview {
  font-size: 0.75rem;
}

h1 {
  font-size: 1.25rem;
}
h2 {
  font-size: 0.875rem;
}

section {
  margin-bottom: 1rem;
}