@import url(style.css);

main {
  font-size: 0.515rem;
  padding-bottom: 0;
}

header {
  width: 140px;
  min-width: 140px;
  font-size: 0.75rem;
  padding-bottom: 0;
}
.info {
  font-size: 0.625rem;
}
.info-group {
  width: 140px;
}
.overview {
  font-size: 0.675rem;
  padding: 0 0 1rem 0;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 0;
}
.overview-main {
  font-size: 1rem;
}
h1 {
  font-size: 1.25rem;
}
h2 {
  font-size: 0.875rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: 0.75rem;
}
section {
  margin-bottom: 1rem;
}